{% extends 'base.html.twig' %}
{% block pageTitle %}Login Page{% endblock %}

{% block body %}
    <div class="container">
        <div>
            <div id="loginForm">
                <h1>Please Login</h1>

                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <form action="{{ path('security_login') }}" method="post">

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                    <table id="loginTable">
                        <tr>
                            <td><label for="username">Username:</label></td>
                            <td><input type="text" id="username" name="username" value="{{ last_username }}" /></td>
                        </tr>
                        <tr>
                            <td><label for="password">Password:</label></td>
                            <td><input type="password" id="password" name="password" /></td>
                        </tr>
                        <tr>
                            <td colspan="2"><button type="submit" id="loginButton">Login</button></td>
                        </tr>
                    </table>
                </form>
            </div>
            <hr>
            <h2>Not a member?</h2>
            <a href="{{ path('user_registration') }}"><button id="regButton">Register!</button></a>
        </div>
    </div>


{% endblock %}