{% extends 'base.html.twig' %}
{% block title %}Registering{%  endblock %}
{% block body %}
    <div class="container">
        <h1>Please Register Below</h1>
        {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword) }}
        <button type="submit">Register!</button>
        {{ form_end(form) }}
    </div>

{% endblock %}