{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tag</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tag.id }}</td>
            </tr>
            <tr>
                <th>Tag</th>
                <td>{{ tag.tag }}</td>
            </tr>
            <tr>
                <th>Approved</th>
                <td>{% if tag.approved %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Upvote</th>
                <td>{{ tag.upvote }}</td>
                <td>
                    <a href="{{ path('tag_upvote', { 'tag':tag })}}"><button>Submit</button></a>
                </td>
            </tr>
            <tr>
                <th>Downvote</th>
                <td>{{ tag.downvote }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tag_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
